---
import Base from "../layouts/Base.astro";
---

<Base
  title="Not found"
  description="Page not found"
  canonical="https://msageha.net/404/"
>
  <main class="text-[#232129] p-24 font-sans">
    <h1 class="mt-0 mb-16 max-w-xs text-4xl font-bold">Page not found</h1>
    <p class="mb-12">
      Sorry 😔, we couldn’t find what you were looking for.
      <br />
      <br />
      <a href="/" class="text-blue-600 underline">Go home</a>.
    </p>
  </main>
</Base>
